.chosen1{
	
  position:absolute;	
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  text-align:center;
  border:7px solid;
  padding:20px; 
  border-radius:1px; 
  color:white;
  border-color:white;
  background-image:linear-gradient(45deg,#d2001a,#7462ff);
}




.floating-bar {
	
  position: relative; 
  width: 100%; 
  z-index: 10;
  bottom:0;
  left:0;
  width:100%;
  height:200px;
  background-color:white;
  color:white;
  text-align:center;
  padding:30px;
  box-shadow:0 -2px 5px rgba(0,0,0,0.3);
  color:black;


  
}


.parallax-section {
  height: 100vh;
  background-attachment: fixed; 
  background-size: cover;
  background-position: center;
  position: relative;
  
}
  
body{
  margin: 0;
  padding: 0;
  background-image: url('pexels.jpg'); /* Parallax background */
  background-attachment: fixed; 
  background-size: cover;
  background-repeat: no-repeat;

}

.main-content {
  padding-top: 20px;
  z-index: 1;
}  
  
.chosen2{


  text-align: center;
  padding: 20px; 
  border:7px solid;
  border-radius: 1px;
  color: white;
  border: 3px solid white; 
  background-image: linear-gradient(45deg, #d2001a, #7462ff);
  max-width: 300px; 
  margin: 0 auto; 
  margin-top: 300px;
  margin-bottom:80px;
  
}


.bottom-float-bar {
   position: relative; 
  width: 100%; 
  z-index: 10;
  bottom:0;
  left:0;
  width:100%;
  height:150px;
  background-color:white;
  color:white;
  text-align:center;
  padding:30px;
  box-shadow:0 -2px 5px rgba(0,0,0,0.3);
  color:black;
}
  
a:link {
    color: blue;
}
a:visited {
    color: purple;
}
a:hover {
    color: red;
}
a:active {
    color: green;
}

